@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background: url(../../img/background.png) center/cover no-repeat;
}

.header {
  margin: 0px auto;
  max-width: 800px;
}
.header__logo {
  margin: 0px auto;
  max-width: 800px;
  margin: 90px 0 100px 300px;
}
.header__logo:hover {
  opacity: 0;
}
.header__text {
  text-align: center;
  color: #ffffff;
  font-family: Lato;
}
.header__title {
  line-height: 40px;
  font-weight: 900;
  font-size: 34px;
  letter-spacing: 5.43px;
}
.header__subtitle {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.15px;
  margin-bottom: 100px;
}
.header__button {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.67px;
  padding: 15px 40px;
}
.header__arrow {
  display: block;
  margin: 80px 0 0 415px;
}
.header__arrow img:hover {
  color: black;
}
.header .button {
  border: 1px solid white;
  font-family: Lato;
  margin: 0 0 0 340px;
}
.header .button:hover {
  color: red;
  border: 1px solid red;
}